/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
/utils/cmake
/utils/build
/bundle*
bob.jar
/defold-rive/lib/**/ext.settings
/.editor_settings
*.keystore*
manifest.*
/main/ignore
.src
